<h1>Detailed Artwork</h1>

<h2>{{singleArtworkFromDB.titleOfArtwork}}</h2>
    <img src="{{singleArtworkFromDB.artworkImage}}" width="250px"/>
    <br>
    {{singleArtworkFromDB.artist}}
    <br>
    {{singleArtworkFromDB.location}}
    <br>
    {{username}}



<!-- here we need to add the EDIT and DELETE --> 
    



{{!-- {{#with singleArtworkFromDB}}
<h2>{{titleOfArtwork}}</h2>
    <img src="{{artworkImage}}" />
    {{artist}}
    {{location}}
{{/with}} --}}