<h1>Detailed Artwork</h1>


<h2>{{singleArtworkFromDB.titleOfArtwork}}</h2>
    <img src="{{singleArtworkFromDB.artworkImage}}" width="100px"/>
    {{singleArtworkFromDB.artist}}
    {{singleArtworkFromDB.location}}
    {{username}}
    



{{!-- {{#with singleArtworkFromDB}}
<h2>{{titleOfArtwork}}</h2>
    <img src="{{artworkImage}}" />
    {{artist}}
    {{location}}
{{/with}} --}}