  {{#each arts}}
<h1>{{category}} Artworks</h1>
<div>

    <img src="{{this.artworkImage}}" width="250px" class="img-list"/>
    <br>
    <p>Artist: {{this.artist}}</p>
    <p>Spotted in: {{this.location}}</p>
    <a href="/artworks/details/{{this._id}}">See details of this {{category}}</a>
    <br>
    {{!-- <a href="/artworks/details/{{this._id}}/update">Edit Artwork</a> --}}
  <br>

  <div class="btn-next">
  {{!-- <a class="btn btn-outline-dark btn-sm" href="/artworks/details/{{this._id}}/update" role="button">Edit</a> --}}

<form action="/artworks/details/{{this._id}}/update" method="GET">
    <button type="submit" class="btn btn-outline-dark btn-sm">Edit</button>
  </form>

  <form action="/artworks/details/{{this._id}}/delete" method="POST">
    <button type="submit" class="btn btn-danger btn-secondary btn-sm">Delete</button>
  </form>
  </div> 

    <hr>
  {{/each}}

   <form action="/artworks/upload" method="GET">
    <button type="submit" class="btn btn-outline-success">Add more!</button>
  </form>

</div>

{{!-- <form action="/artworks/details/{{this._id}}/delete" method="GET">
  <button type="submit" class="btn btn-danger btn-secondary btn-sm" role="button">Delete</button>
  </form> --}}
