<div>
  {{#with user}}
    <h2>Hi {{username}}!</h2>


<div class="container">
  <div class="row">
    <div class="col">
  xxx
    </div>
    <div class="col">
    <p>Your profile pic:</p>
    <img
      src="{{profilePicture}}"
      alt="/images/profile.png"
      {{!-- alt="profile picture of {{username}}" --}}
      width="100px"
      <br>
    <p>You are logged in with: {{email}}</p>
    </div>
  </div>    

  {{/with}}
  <br />

  <p>Your uploads:</p>
  {{#each arts}}

    <img
      src="{{artworkImage}}"
      alt="streetart spotted by {{username}}"
      width="100px"
    />

  {{/each}}
  <hr />
  <form action="/artworks/upload" method="GET">
    <button type="submit">Upload!</button>
  </form>
</div>


 {{!-- {{#each arts}}
    <div class="card" style="width: 18rem;">
    <img src="{{artworkImage}}" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">{{artistName}} {{location}}</h5>
    </div>
     {{/each}} --}}