<div class="profile-container-top"></div>
  {{#with user}}
    <h2>Hi {{username}}!</h2>
<div class="profile-container">
    <div class="profile-picture">
      <img
        src="{{profilePicture}}"
        class="img-thumbnail"
        alt="profile picture of {{username}}"
        width="200px"
      />
    </div>

    <div class="profile-container-info">

      <p>You are logged in with: {{email}}</p>
    </div>

    {{!-- <div class="container">
  <div class="row">
    <div class="col">
  xxx
    </div>
    <div class="col">
    <p>Your profile pic:</p>
    <img
      src="{{profilePicture}}"
      alt="/images/profile.png"
      {{ alt="profile picture of {{username}}" }} 
      width="100px"
      <br>
    <p>You are logged in with: {{email}}</p>
    </div>
  </div>     --}}
  {{/with}}
</div>

<hr>

<div class="profile-container-uploads">
  <h3>Your uploads</h3>
  {{#each arts}}

    <img
      src="{{artworkImage}}"
      alt="streetart spotted by {{username}}"
      width="100px"
    />

  {{/each}}
  <hr />
  <form action="/artworks/upload" method="GET">
    <button type="submit" class="btn btn-success">Upload new Artwork!</button>
  </form>
</div>

<h3>Your uploads</h3>
{{#each arts}}
<div class="profile-card-uploads ">
    <div class="card h-100">
      <img src="{{artworkImage}}" class="card-img-top" alt="...">
       {{!--<div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> --}}
  </div>
</div>
{{/each}}
{{!-- {{#each arts}}
    <div class="card" style="width: 18rem;">
    <img src="{{artworkImage}}" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">{{artistName}} {{location}}</h5>
    </div>
     {{/each}} --}}