<h1>This is your private Profile</h1>
<div>
  {{#with user}}
    <h2>Hi {{username}}!</h2>

    <p>You are logged in with: {{email}}</p>
    <p>Your profile pic:</p>
    <img
      src="{{profilePicture}}"
      alt="profile picture of {{username}}"
      width="100px"
    />
  {{/with}}
  <br />
  <h2>Your uploads:</h2>
  {{#each arts}}

    <img
      src="{{artworkImage}}"
      alt="streetart spotted by {{username}}"
      width="100px"
    />

  {{/each}}
  <hr>
  <form action="/artworks/upload" method="GET">
    <button type="submit">Upload!</button>
  </form>
</div>