<div>
  {{#with user}}
    <h2>Hi {{username}}!</h2>

    <p>You are logged in with: {{email}}</p>
    <p>Your profile pic:</p>
    <img src="{{profilePicture}}" alt="profile picture of {{username}}" />
  {{/with}}
  <br />
  <a href="/artworks/upload">Upload</a>
  {{#each arts}}
    <p>Your uploads:</p>
    <img src="{{artworkImage}}" alt="streetart spotted by {{username}}" />

  {{/each}}
</div>