<h1>This is artist {{singleArtistFromDB.artistName}}</h1>
<h2>Shortvita Artist</h2>

    <p>{{singleArtistFromDB.artistName}} is from {{singleArtistFromDB.countryOfOrigin}}</p>
    <br>
    {{singleArtistFromDB.shortVita}}
    <br>
    {{username}}